#skills{
    padding: 60px;
    background: #f5f5f5;
    text-align: center;
}

.skills-container{
    width: 60%;
    margin: auto;
}

.skill{
    margin: 20px 0;
    text-align: left;
}

.skill-bar{
    width: 100%;
    background: #ddd;
    height: 10px;
    border-radius: 5px;
}

.skill-level{
    height: 10px;
    border-radius: 5px;
}

.html{ width: 90%; background: #e34c26; }
.css{ width: 85%; background: #264de4; }
.js{ width: 75%; background: #f0db4f; }
.python{ width: 80%; background: #306998; }
.java{ width: 70%; background: #f89820; }
.sql{ width: 75%; background: #4DB33D; }